.email {
  font-size: 15px;
  color: #737373;
  display: flex;
  justify-content: space-between;
}

label {
  justify-items: start;
}

input {
  border: none;
  text-decoration: underline;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #737373;
  margin-left: 10px;
}

.line {
  border-bottom: 1px solid #737373;
  opacity: 0.2;
  margin: 20px 0;
}

.countSymbol {
  font-size: 15px;
  color: #737373;
  background-color: #f2f2f2;
  padding: 0 5px;
  border-radius: 5px;
}
